* {
	/*reset, so will not include default values*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	height: 100px;
	background-color: #B2D6FF; /*blue*/
	font-size: 70px;
	text-align: center;
}

.sidebar {
	height: 300px;
	background-color: #F09A9D; /*red*/
	width: 200px;
	float: left;
/*	font-size: 50px;
	text-align: center;*/
}

.content {
	height: 500px;
	width: 650px;
	background-color: #F5CF8E; /*yellow*/
	float: left;
}

.footer {
	/*height: 200px;*/
	background-color: #D6E9FE; /*light blue*/
	clear: both; /*clears both left and right*/
	/*border: 5px solid red;*/
}

.page {
	width: 900px;
	margin: 0 auto;  /*centers*/
	/*border: 1px solid red;*/
	background: #EAEDF0;
}

.clear:after {   /*after class name clear, do this*/
	content: " ";  /*creat invisible block*/
	clear: both;
	display: block;
} 

.container {
	background-color: #EAEDF0;
}

.column {
	background: #B2D6FF;
	height: 160px;
	width: 31%;  /*100% / 3 = 33%*/
	margin: 20px 1.16%;
	float: left;
}

.article-image {
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.avatar {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	background-color: #D6E9FE;
}

.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden;  this is important: so that text doesnot flow under floating element
}

.center-align {
	text-align: center;
}